*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{

    width: 100vw;
    height: 100vh;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0000007E;
    background-blend-mode: darken;
    display:flex;
    justify-content: center;
    align-items: center;


}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
h1{
    color: #ffffff;
    font-size: clamp(40px, 10vw ,120px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

.apresentacao{

    color: #ffffff;
    font-size: clamp(20px,5vm,60px);
    font-family:'mostserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
}
#informacoes {
    display: line;

    color: #ffffff;
    width: 80px;
    height: 25px;
    background-color:#000000 ;
    border-style: none;
    border-radius: 5px;
}
#informacoes2{
    display: line;

    color: #ffffff;
    width: 80px;
    height: 25px;
    background-color: rgb(66, 145, 209);
    border-style: none;
    border-radius: 5px;

}
#informacoes3{
    color: #ffffff;
    width: 80px;
    height: 25px;
    background-color: ;
}


